<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head-tag.ejs') %>
<body>
<%- partial('_partial/preload.ejs') %>
<div class="sb-site-container">
    <%- partial('_partial/header.ejs') %>
    <%- partial('_partial/headerx.ejs') %>

    <!-- container -->
    <%- body %>
    <%- partial('_partial/footer.ejs') %>
</div>
<!-- sb-site-container -->
<%- partial('_partial/sidebar.ejs') %>
<%- partial('_partial/after-footer.ejs') %>
</body>
</html>