
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card animated fadeInLeftTiny animation-delay-5">
                <div>
                    <img src="<%- page.image || theme.default_post_image %>" alt="" class="img-responsive mb-4">
                </div>
                <div class="card-block">

                    <div class="mb-2">
                        <% page.categories.forEach(function(category) { %>
                        <a href="<%- config.root + category.path %>" class="ms-tag ms-tag-primary"><i class="fa fa-folder-o"></i> <%= category.name %></a>
                        <% }) %>

                        <span class="ml-1 hidden-xs">
                            <i class="fa fa-calendar"></i>
                            <span class="color-medium-dark"> <%- page.date.format(config.date_format) %></span>
                        </span>
                    </div>
                    <h1 class="no-mt"><%- page.title %></h1>
                    <%- partial('_partial/post/share-bar.ejs') %>
                </div>

                <div class="card card-block card-primary">
                    <%- page.content %>
                    <%- partial('_partial/post/share-bar.ejs') %>
                </div>
                <div class="row text-center">
                    <%- partial('_partial/responsive-ad.ejs') %>
                </div>
                <div class="card card-block card-primary">
                    <div class="card-block">
                        <%- partial('_partial/comments.ejs') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <% if(page.youtube_id)  { %>
            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="zmdi zmdi-play-circle-outline"></i> Feature Video</h3>
                </div>
                <div data-type="youtube" data-video-id="<%- page.youtube_id %>"></div>
            </div>
            <% } %>
            <%- partial('_partial/widget-about.ejs') %>

            <%- partial('_partial/widget-flash.ejs') %>


            <div class="card card-primary animated fadeInUp animation-delay-7">
                    <%- partial('_partial/responsive-ad.ejs') %>
            </div>
        </div>
    </div>
</div>
