<div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
    <article class="card card-primary mb-4 wow materialUp animation-delay-5">
        <figure class="ms-thumbnail ms-thumbnail-left">
            <img src="<%- item.image || theme.default_post_image %>" alt="<%- item.title || theme.default_post_title || __('default_post_title') %>" class="img-responsive">
            <figcaption class="ms-thumbnail-caption text-center">
                <div class="ms-thumbnail-caption-content">
                    <h3 class="ms-thumbnail-caption-title"><%- item.title || theme.default_post_title || __('default_post_title') %></h3>
                    <div class="mt-2">
                        <a target="_blank" href="<%- twitter_share_link(item) %>" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="<%- url_for(item.path) %>" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                            <i class="zmdi zmdi-link"></i>
                        </a>
                    </div>
                </div>
            </figcaption>
        </figure>
        <div class="card-block">
            <h2>
                <a href="<%- url_for(item.path) %>"><%- item.title || theme.default_post_title || __('default_post_title') %></a>
            </h2>
            <%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 300) %>
            <p></p>

            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <div class="mt-05">
                        <% item.categories.forEach(function(category) { %>
                        <a href="<%- config.root + category.path %>" class="ms-tag ms-tag-primary"><i class="fa fa-folder-o"></i> <%= category.name %></a>
                        <% }) %>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <a href="<%- url_for(item.path) %>" class="btn btn-primary btn-sm btn-block animate-icon">Read more
                        <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </article>
</div>

