<li class="ms-timeline-item wow materialUp">
    <div class="ms-timeline-date">
        <time class="timeline-time" datetime="">
            <span><%= item.date.format(theme.archive_date_format) %></span>
        </time>
        <i class="ms-timeline-point"></i>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-6">
                <a href="<%- url_for(item.path) %>">
                    <img src="<%- post_img(item)  %>" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-lg-6">
                <div class="card-block text-center">
                    <p style="text-align: right">
                        <% item.categories.forEach(function(category) { %>
                        <a href="<%- config.root + category.path %>" class="ms-tag ms-tag-info"><i class="fa fa-folder-o"></i> <%= category.name %></a>
                        <% }) %>
                    </p>
                    <h4 class="color-royal"><%- item.title || theme.default_post_title || __('default_post_title') %></h4>
                    <a href="<%- url_for(item.path) %>" class="btn btn-primary btn-raised">
                        <i class="zmdi zmdi-link"></i> Read More</a>
                </div>
            </div>
        </div>
    </div>

</li>
