<div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
    <div class="ms-footbar-block">
        <h3 class="ms-footbar-title text-center mb-2">Featured Posts</h3>
        <div class="ms-footer-media">
            <% site.posts.find({featured: true}).limit(3).each(function(post){ %>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="javascript:void(0)">
                        <i class="fa <%- theme.default_post_icon %> fa-lg"></i> </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="<%- url_for(post.path) %>"><%- post.title %></a>
                    </h4>
                </div>
                <div class="media-footer">
                        <span><i class="fa fa-calendar"></i> <%- post.date.format(config.date_format) %></span>
                        <% post.categories.forEach(function(category) { %>
                            <span>
                              <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                              <a href="<%- config.root + category.path %>"> <%= category.name %></a>
                            </span>
                        <% }) %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>