<nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="<%- config.root %>" title="<%- config.title %>">
                <img
                        src="<%- theme.logo_image_source %>"
                        alt="<%- config.title %>"
                        class="animated zoomInDown animation-delay-5 img-responsive"
                        style="max-height: 40px; display: inline">
                <!--<span class="ms-title">from the desk of
                    <strong>Pinal Bhatt</strong>
                </span>-->
            </a>
        </div>
        <%- partial('_partial/main-menu.ejs') %>
        <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </div>
    <!-- container -->
</nav>