<% if(page.prev || page.next) { %>
<nav aria-label="...">
    <ul class="pager">
        <li><a href="<%- config.root %><%- page.prev_link %>"><span aria-hidden="true">«</span> <%- __('prev') %></a></li>
        <li><a href="<%- config.root %><%- page.next_link %>"><%- __('next') %> <span aria-hidden="true">»</span></a></li>
    </ul>
</nav>
<% } %>