<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">

            <div class="ms-slidebar-title">
                <form class="search-form">
                    <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
                    <label for="search-box-slidebar">
                        <i class="zmdi zmdi-search"></i>
                    </label>
                </form>
                <div class="ms-slidebar-t">
                    <h3>PB<span>Desk</span>.com</h3>
                </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li>
                <a class="link" href="/">
                    <i class="zmdi zmdi-home"></i> Home</a>
            </li>
            <li>
                <a class="link" href="/archives">
                    <i class="zmdi zmdi-home"></i> All posts</a>
            </li>

            <li class="panel" role="tab" id="sch4">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc4" aria-expanded="false" aria-controls="sc4">
                    <i class="zmdi zmdi-edit"></i> Categories </a>
                <ul id="sc4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch4">
                    <% site.categories.forEach(function(cat) { %>
                    <li>
                        <a href="<%- config.root + cat.path %>"><%- cat.name %> <span class="badge pull-right"><%- cat.posts.length %></span></a>
                    </li>
                    <% })%>
                </ul>
            </li>
            <li class="panel" role="tab" id="sch5">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc5" aria-expanded="false" aria-controls="sc5">
                    <i class="zmdi zmdi-shopping-basket"></i> Tags </a>
                <ul id="sc5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch5">
                    <% site.tags.forEach(function(tag) { %>
                    <li>
                        <a href="<%- config.root + tag.path %>"><%- tag.name %> <span class="badge pull-right"><%- tag.posts.length %></span></a>
                    </li>
                    <% })%>
                </ul>
            </li>
            <li class="panel" role="tab" id="sch6">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#slidebar-menu" href="#sc6" aria-expanded="false" aria-controls="sc6">
                    <i class="zmdi zmdi-collection-image-o"></i> About </a>
                <ul id="sc6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sch6">
                    <li>
                        <a href="/about">About me</a>
                    </li>
                    <li>
                        <a href="/about/contact">Contact me</a>
                    </li>
                    <li>
                        <a href="/about/history">PBDesk.com archives</a>
                    </li>
                    <li>
                        <a href="about/site">About this site</a>
                    </li>
                    <li>
                        <a href="about/disclaimer">Disclaimer</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>