<div class="card animated fadeInUp animation-delay-7">
    <div class="ms-hero-bg-info ms-hero-img-mountain">
        <h3 class="color-white index-1 text-center no-m pt-4"><%- theme.title %></h3>
        <div class="color-medium index-1 text-center np-m"><%- theme.subtitle %></div>
        <img src="/assets/images/PBDesk.png" alt="..." class="img-avatar-circle"> </div>
    <div class="card-block pt-4 text-center">
        <h3 class="color-primary">About me</h3>
        <p>I am <b><em>Software Engineer</em></b>, and <br/>of course always on <em>learning ramp!</em> </p>
        <p><a href="/about" class="btn btn-primary btn-raised">
                <i class="zmdi zmdi-account"></i> About me<div class="ripple-container"></div></a></p>
        <% theme.social_platforms.forEach(function(platform) { %>
        <a target="_blank" href="<%- platform.url %>" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-<%- platform.icon %>">
            <i class="zmdi zmdi-<%- platform.icon %>"></i>
        </a>

        <% }) %>
    </div>
</div>