<div class="card card-primary animated fadeInUp animation-delay-7">
    <div class="card-header">
        <h3 class="card-title">
            <i class="zmdi zmdi-apps"></i> Quick Links</h3>
    </div>
    <div class="card-tabs">
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
            <li role="presentation" class="active">
                <a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="withoutripple">
                    <i class="no-mr fa fa-star fa-lg"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="withoutripple">
                    <i class="no-mr fa fa-clock-o fa-lg"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="withoutripple">
                    <i class="no-mr fa fa-folder fa-lg"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="withoutripple">
                    <i class="no-mr fa fa-tags fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="favorite">
            <div class="card-block">
                <div class="ms-media-list">
                    <% site.posts.find({featured: true}).sort('date', -1).limit(5).each(function(post){ %>
                    <%- partial('_partial/article-v-short', {post: post}) %>
                    <% }) %>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="archives">
            <div class="card-block">
                <div class="ms-media-list">
                    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
                    <%- partial('_partial/article-v-short', {post: post}) %>
                    <% }) %>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="categories">
            <div class="list-group">

                <% site.categories.forEach(function(cat) { %>
                <a href="<%- config.root + cat.path %>" class="list-group-item withripple">
                    <i class=" color-primary zmdi zmdi-folder"></i><%- cat.name %>
                    <span class="badge badge-primary"><%- cat.posts.length %></span>
                </a>

                <% })%>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tags">
            <div class="card-block text-center">
                <% site.tags.forEach(function(tag) { %>
                <a href="<%- config.root + tag.path %>" class="ms-tag ms-tag-primary"><%- tag.name %></a>
                <% })%>
            </div>
        </div>
    </div>
</div>