<div class="mb-2">
    <% page.tags.forEach(function(tag) { %>
    <a href="<%- config.root + tag.path %>" class="label label-primary"><i class="fa fa-tag"></i> <%= tag.name %></a>
    <% }) %>
    <div class="btn-group btn-group-justified btn-group-raised">
        <a target="_blank" href="<%- twitter_share_link(page) %>" class="btn btn-raised btn-twitter "><i class="zmdi zmdi-twitter"></i> Tweet</a>
        <a target="_blank" href="<%- linkedin_share_link(page) %>" class="btn btn-raised btn-linkedin "><i class="zmdi zmdi-linkedin"></i> LinkedIN</a>
        <a target="_blank" href="<%- facebook_share_link(page) %>" class="btn btn-raised btn-facebook "><i class="zmdi zmdi-facebook"></i> Share</a>
        <a target="_blank" href="<%- googleplus_share_link(page) %>" class="btn btn-raised btn-google "><i class="zmdi zmdi-google-plus"></i> Google+</a>
    </div>
</div>