<!-- Banner -->
<div class="w-100 bg-1 ph5-ns ph3 text-light">
    
    <nav class="db dt-l w-100 mw8 center border-box pv3">
        <a class="db dtc-l v-mid link dim w-100 w-25-l tc tl-l mb2 mb0-l white" href="<%- config.root %>" title="<%- config.title %>">
            <img src="<%- theme.logo_image_source %>" class="dib h3" alt="<%- config.title %>">
        </a>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <% for (var i in theme.menu) { %>
                <a class="link dim f6 f5-l dib mr3 mr4-l white" 
                    href="<%- url_for(theme.menu[i]) %>" 
                    title="<%= i %>">
                    <%= i %>
                </a>
            <% } %>
        </div>
    </nav>

    <!-- Title -->
    <div class="w-100 mw8 center vh-32 dt">
        <div class="dtc v-mid white">
            <% page.categories.forEach(function(category) { %>
            <p class="f4 fw3 tc tc-m tl-ns subtitle"> <i class="fa fa-calendar"></i> <%- secondaryText %>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-folder-o"></i>  <a class="f5 f5-ns white dim b subtitle_a" href="<%- config.root + category.path %>"><%= category.name %></a>
            </p>
            <% }) %>
            <h1 class="f2-l f3-m tc tc-m tl-ns title-post"><%- mainText %></h1>
            <p class="f4 fw3 pab-100px tc tc-m tl-ns title-post"> <i class="fa fa-tags"></i>
            <% page.tags.forEach(function(tag) { %>
                  #<a class="f5 f5-ns white dim subtitle_a" href="<%- config.root + tag.path %>"><%= tag.name %></a>
            <% }) %>
            </p>

        </div>
    </div>

    <!-- Icon -->
    <div class="relative w-100 mw8 center white dn dn-m db-ns" style="margin-top: -30px">
        <i class="header-icon fa <%- faIconCss %>"></i>
    </div>
</div>